@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body
{
    font-family: 'Montserrat', sans-serif;
    background-color: #202020;
    color: #f1f1f1;
    margin-top: 5%;
    text-align: center;
}

h1
{
    color:#a3ffb3;
    text-shadow: 0 0 7px #a3ffb281;
    font-size: 45px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#main-div
{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b;
    border-radius: 30px;
    box-shadow: 0px 0px 50px 0px #a3ffb29d;
    border-style: solid;
    border-color: #1b1b1b;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
}

#answerSubmit
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px;
}

input
{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

input:focus
{
    border: 1px solid #a3ffb3;
    background-color: #a3ffb3;
    color: #1b1b1b;
    box-shadow: 0px 0px 20px 0px #a3ffb3;
    outline: none;
    transition: all 0.3s ease;
}

button
{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    transition: all 0.3s ease;
}

button:hover
{
    border: 1px solid #a3ffb3;
    background-color: #a3ffb3;
    color: #1b1b1b;
    box-shadow: 0px 0px 20px 0px #a3ffb3;
    cursor: pointer;
}

#flag-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

img 
{
    width: 650px;
    height: 450px;
    object-fit: contain;
}

#container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#x-container 
{
    position: absolute;
    background-color: transparent;
    display: none;
    justify-content: center;
    align-items: center;
}

#points
{
    margin: auto;
    font-size: 20px;
    padding-top: 25px;
    text-shadow: 0 0 7px #fff;
}

label 
{
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-shadow: 0 0 7px #fff;
}

.region
{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.region select
{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    transition: all 0.3s ease;
}

.region select:hover
{
    border: 1px solid #a3ffb3;
    background-color: #a3ffb3;
    color: #1b1b1b;
    box-shadow: 0px 0px 20px 0px #a3ffb3;
    cursor: pointer;
}

.region select option
{
    background-color: #1b1b1b;
    color: rgb(255, 255, 255);
}

#end-game-div 
{
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b;
    border-radius: 30px;
    box-shadow: 0px 0px 50px 0px #a3ffb29d;
    border-style: solid;
    border-color: #1b1b1b;
    margin: 16% 35% 16% 35%;
    padding: 20px;
    border-width: 20px 5px 35px 5px; 
}

#end-game-text 
{
    font-size: 50px;
    margin:auto;
    padding: 0;
}

#final-score
{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 25px;
}

#final-score 
{
    padding-top: 0;
    text-shadow: 0 0 7px #fff;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#end-game-div button 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#end-game-answer 
{
    text-shadow: 0 0 7px #fff;
    font-size: 20px;
    font-weight: 500;
}

#go-back 
{
    width: 100px;
    position: absolute;
    top: 2%;
    left: 1%;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#world-video
{
    z-index: -999;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

#rules
{
    width: 100px;
    position: absolute;
    top: 2%;
    left: 93.5%;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#rules-div
{
    display: none;
    position: absolute;
    top: 10%;
    left: 87%;
    background-color: #1b1b1b;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px #a3ffb29d;
    padding: 15px;
    width: 200px;
    z-index: 1;
    text-align: middle;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 0 7px #fff;
}

